<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Input Default -->
  <ion-input></ion-input>

  <!-- Input com valor -->
  <ion-input value="valor"></ion-input>

  <!-- Input com placeholder -->
  <ion-input placeholder="Inform seu nome"></ion-input>

  <!-- Input com clear -->
  <ion-input clearInput value="curso ionic 5"></ion-input>

  <!-- Input com valor numerico -->
  <ion-input type="number" value="1234"></ion-input>

  <!-- Input email -->
  <ion-input type="email" placeholder="Informe seu email"></ion-input>

  <!-- Input telefone -->
  <ion-input type="tel" placeholder="Informe seu telefone"></ion-input>

  <!-- Input url -->
  <ion-input type="url" placeholder="Informe a url"></ion-input>

  <!-- Input search -->
  <ion-input type="search" placeholder="Informe sua pesquisa"></ion-input>

  <!-- Input password -->
  <ion-input type="password" placeholder="Informe sua senha"></ion-input>

  <ion-item>
    <ion-label>Sem position</ion-label>
    <ion-input placeholder="Inform seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Com floating</ion-label>
    <ion-input placeholder="Inform seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Com stacked</ion-label>
    <ion-input placeholder="Inform seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Com stacked</ion-label>
    <ion-input type="text" placeholder="Inform seu nome" color="primary"></ion-input>
  </ion-item>
</ion-content>
